sudo: false

language: go

go:
  - '1.13.x'

notifications:
  email: false

branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

cache:
  directories:
    - $HOME/gopath/pkg/mod         # Cache the Go modules

services:
  - 'docker'

install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

before_script:
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin latest

jobs:
  include:
    - stage: test
      script:
        - make test

deploy:
  - provider: script
    script: 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash ./build/bin/push-images; fi'
    on:
      branch: master
  - provider: script
    script: VERSION=$TRAVIS_TAG ./build/bin/push-images
    on:
      tags: true
      all_branches: true
